Body

{  

background-color: #f0fff0;

font-family: Calibri;

}

h1 {

font-weight:bold;

color: #4682B4;

text-align: center;

}

table {

color: white;

font-size: 15px;

font-weight: bold;

background-color: #696969;

border-collapse: collapse;

border: 2px solid navy;


}